h1 {
	text-align: center;
	font-size: 35px;
	color: white;
}

body {
	background: rgba(71,166,173,1);
background: -moz-linear-gradient(45deg, rgba(71,166,173,1) 0%, rgba(203,96,179,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(71,166,173,1)), color-stop(100%, rgba(203,96,179,1)));
background: -webkit-linear-gradient(45deg, rgba(71,166,173,1) 0%, rgba(203,96,179,1) 100%);
background: -o-linear-gradient(45deg, rgba(71,166,173,1) 0%, rgba(203,96,179,1) 100%);
background: -ms-linear-gradient(45deg, rgba(71,166,173,1) 0%, rgba(203,96,179,1) 100%);
background: linear-gradient(45deg, rgba(71,166,173,1) 0%, rgba(203,96,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47a6ad', endColorstr='#cb60b3', GradientType=1 );
}

p {
	text-align: center;
	font-size: 25px;
	color: white;
}


.slide {
	border: 3px solid white;
    width: 100%;
    height: 500px;
    margin: 2% auto;
    border-radius: 5px;
    position: relative;
    z-index: 0;     
}

.slide img{
    width: 100%;
    height: 100%;
    position: absolute; 
}

.slide figure {
    margin: 0;
}

.slide .img2, .slide .img3, .slide .img4 {
    display: none;
}
